<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">


 
  <!-- Servlets -->  
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.JKSOrders.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StorePageServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.JKSOrders.servlet.StorePageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WorkPageServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.JKSOrders.servlet.WorkPageServlet</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>ProfilePageServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.JKSOrders.servlet.ProfilePageServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.JKSOrders.servlet.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.JKSOrders.servlet.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerForgotLoginServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.JKSOrders.servlet.CustomerForgotLoginServlet</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>EmployeeForgotLoginServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.JKSOrders.servlet.EmployeeForgotLoginServlet</servlet-class>
  </servlet>          
  <servlet>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.JKSOrders.servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThankYouServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.JKSOrders.servlet.ThankYouServlet</servlet-class>
  </servlet>
  
  <!-- AJAX servlets. -->
  <servlet>
    <servlet-name>AddNumbersAjaxServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.JKSOrders.servlet.ajax.AddNumbersAjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NextGuessAjaxServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.JKSOrders.servlet.ajax.NextGuessAjaxServlet</servlet-class>
  </servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>CustomerForgotInfoServlet</servlet-name>
    <url-pattern>/customerForgotInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/customerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeForgotLoginServlet</servlet-name>
    <url-pattern>/employeeForgotLogin</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/employeeLogin</url-pattern>
    </servlet-mapping> 
   <servlet-mapping>
    <servlet-name>StorePageServlet</servlet-name>
    <url-pattern>/storePage</url-pattern>
  </servlet-mapping>  
   <servlet-mapping> 
    <servlet-name>WorkPageServlet</servlet-name>
    <url-pattern>/workPage</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>ProfilePageServlet</servlet-name>
    <url-pattern>/profilePage</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/checkOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThankYouServlet</servlet-name>
    <url-pattern>/thankYou</url-pattern>
  </servlet-mapping>
  
  <!--  AJAX servlet mappings. -->
  <servlet-mapping>
    <servlet-name>AddNumbersAjaxServlet</servlet-name>
    <url-pattern>/ajax/addNumbers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NextGuessAjaxServlet</servlet-name>
    <url-pattern>/ajax/nextGuess</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
